<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tfApp.android.newstv">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name="com.tfApp.android.newstv.app.FlowersTvApp"
        android:allowBackup="false"
        android:icon="@drawable/tfapp_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tfapp_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.tfApp.android.newstv.view.activity.SplashActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.tfApp.android.newstv.view.activity.LoginActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.tfApp.android.newstv.view.activity.VerifyOtpActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.tfApp.android.newstv.view.activity.MenuLeftActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.tfApp.android.newstv.view.activity.SearchActivityScreen"
            android:alwaysRetainTaskState="false"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.tfApp.android.newstv.view.activity.MediaStreamingActivityExoPlayer"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.tfApp.android.newstv.view.activity.LanguageActivity"
            android:noHistory="true"
            android:alwaysRetainTaskState="true"
            android:label="@string/languages_check"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.tfApp.android.newstv.view.activity.PollWebActivity"
            android:noHistory="true"
            android:alwaysRetainTaskState="true"
            android:label="@string/poll_check"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.tfApp.android.newstv.view.activity.HolderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9508a709ede4757af13f170746ce728c1f55d4f8" />
    </application>

</manifest>